@charset "UTF-8";

#board_frame {text-align: center; margin-top: 90px;}

/* 본 내용 */
#contentImageArea1 {display: block; width: 100%;}
#contentImageArea1>img {width: 240px; height: 150px;}
.imageSildeBtn1 {position: absolute; top: 150px; right: 2%;}
.imageSildeBtn2 {position: absolute; top: 150px; left: 2%;}

#contentImageArea2 {display: none;}

#contentArea {display: block;}
#boardDeatilContentArea, #etcArea  {display: inline-block; margin: 10px 0; vertical-align: top;}

#boardDeatilContentArea {width: 70%; text-align: left; padding: 0 15px 15px 15px;}

#boardDeatilContentArea table {margin: 0 5px 5px 5px; border-collapse: collapse;}
#boardDeatilContentArea>table {width: 98%; min-width:695px;}
#contentTitle {text-align: center; font-size: 27px; font-weight:bold; height: 60px;}
#contentSub {font-size: 15px; background-color:#c0c0c0; height: 30px;}

#contentWriter {text-align: center; width: 100px; font-weight:bold;}
#contentTime {font-size: 12px; color:gray; text-align: left;}

#contentViewCount, #contentStar, #contentReviewCount, #content {text-align: center;}

#contentViewCount {width: 100px;}
#contentStar {width: 65px;}
#contentReviewCount {width: 65px;}
#content {padding-top: 10px; white-space: pre-line;}

 
/* 매장정보 */
#etcArea {width:25%; background-color:#f8f8f8}

.storeInfo {font-size: 25px; font-weight: bold;}
.storeTitle {font-size: 14px; font-weight: bold;}
.storeSubTitle {font-size: 11px; color: gray;}
.storeETC {font-size: 13px; color: green; margin: 5px 0;}
.storeETC img {width:13px; height:13px;}

hr {margin: 5px;}

#etcArea table {font-size:12px; margin: 5px 0; border-collapse: separate; border-spacing: 0 10px;}
#etcArea table .storeMenu {min-width: 50px; font-weight: bold;}
#etcArea table .storeMenuDetail {white-space: pre-line; width:100%;}


/* 찜하기  */
.pick {width: 40px;	height: 40px;}
.pick:HOVER {cursor: pointer;}
#pick {display: none;}

/* 버튼 */
#buttonArea img{width:50px; height:50px;}

/* 댓글 */
#reviewArea {display: block;}
#js-load>p {display:inline-block; float:left;}
#js-load>a {display: inline-block; float: right;}
#js-load>a>ul {list-style: none; font-size:11px; font-weight: bold;}
.btnCommentWrite {width:45px; height:45px;}

/* 펼치기기능 */
.js-load {display: none;}
.js-load.active {display: block; white-space: pre-line;}
.is_comp.js-load:after {display: none;}
.btn-wrap, .lists, .main {display: block;}

/* 댓글 디자인 */
.main {max-width: 950px; margin: 0 auto;}
.lists {margin-bottom: 1rem; padding: 0; clear: both;}
.lists__item {margin-top: 10px; padding: 0 15px; background: #f5f5f5;}
.lists__item:nth-child(2n) {background: #c0c0c0; color: #fff;}

#js-load>p {font-size:25px; font-weight:bold; margin-top: 10px; text-align: left;}
.review_table {max-width: 920px; margin: 10px 0;}
.review_id {vertical-align: text-top; max-width: 100px; min-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding-right: 10px;}
.review_content {text-align: left; padding-left: 10px; max-width: 800px; min-width: 800px;}
.review_content p {word-break: break-all; white-space: pre-line;}

.btn-wrap {text-align: center;}


/* 너비 1024px 미만 */
@MEDIA screen and (max-width:1023px) {
	#board_frame {margin-top: 85px;}
	
	#contentImageArea1 {}
	#contentImageArea1>img {width: 180px; height: 112.5px;}
	.imageSildeBtn1 {position: absolute; top: 135px; right: 1%;}
	.imageSildeBtn2 {position: absolute; top: 135px; left: 1%;}
	
	#contentImageArea2 {display: none;}
	
	#contentArea {}
	
	#boardDeatilContentArea {padding: 0 10px 10px 10px;}
	
	#boardDeatilContentArea>table {min-width:510px;}
	#contentTitle {height: 45px;}
	#contentSub {font-size: 14px;}
	
	#etcArea {width: 24%;}
	
	.storeInfo {font-size: 20px;}
	.storeTitle {font-size: 13px;}
	.storeSubTitle {font-size: 10px; color: gray;}
	.storeETC {font-size: 12px; color: green; margin: 5px 0;}
	
	#etcArea table {margin: 0;}
	
	
	.main {max-width: 710px;}
	.review_table {max-width: 690px; margin: 10px 0;}
	.review_id {max-width: 90px; min-width: 90px;}
	.review_content {max-width: 570px; min-width: 570px;}
}


/* 너비 768px 미만 */
@MEDIA screen and (max-width:767px) {
	#board_frame {margin-top: 0; display: block;}
	
	#contentImageArea1 {display: none;}
	#contentImageArea2 {display: block; text-align: center; margin-top:10px; min-width: 610px;}
	#contentImageArea2>img {width: 320px; height: 200px; margin:auto;}
	
	.imageSildeBtn1 {position: absolute; top: 165px; right: 30px;}
	.imageSildeBtn2 {position: absolute; top: 165px; left: 30px;}
	
	#contentArea {min-width: 617px;}
	
	#boardDeatilContentArea {width:95%;}
	
	#boardDeatilContentArea>table {min-width:590px;}
	
	#etcArea {display: none;}
	
	#reviewArea {margin-bottom:100px;}
	.main {max-width: 600px;}
	.review_table {max-width: 570px; margin: 10px 0;}
	.review_id {max-width: 80px; min-width: 80px;}
	.review_content {max-width: 470px; min-width: 470px;}
}


/* 이미지 팝업레이어 */
.dialog_trigger1, .dialog_trigger2, .dialog_trigger3, .dialog_trigger0 {
  border: 3px solid #333333;
  display: inline-block;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.dialog_trigger1:hover, .dialog_trigger2:hover, .dialog_trigger3:hover, .dialog_trigger0:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
}
.dialog_trigger:focus {outline: 0;}
.dialog_trigger:active {transform: translateY(-3px); -webkit-transform: translateY(-3px);}

.dialog {
  background: #f1f1f1;
  width: 65%;
  position: absolute;
  left: calc(15%);
  top: 0;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
  border: 3px solid #333333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 180ms ease-in;
  transition: all 180ms ease-in;
}

.dialog img {margin-top: 30px; width: 100%;}

.dialog.dialog-active {
  top: 18%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}
.dialog .dialog_close {
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: color 150ms ease;
  transition: color 150ms ease;
}
.dialog .dialog_close:hover {color: #E74C3C;}
.dialog .dialog_title {
  font-size: 2rem;
  font-family: 'Slabo 27px', serif;
  font-weight: 100;
  margin: 0;
  padding: 0 0 15px 0;
  border-bottom: 2px solid #333333;
}
.dialog .dialog_content {font-size: 1.1rem; line-height: 2rem;}

@media (max-width: 600px) {
  .dialog {width: 90%; left: calc(50% - 45%);}
}