@charset "UTF-8";

#board_frame { border: 1px solid red; text-align: center; margin-top: 85px;}

#contentImageArea1 {display: block; width: 100%; border:1px solid green;}
#contentImageArea1 img {width:240px; height:150px;}
.imageSildeBtn1 {position: absolute; top: 150px; right: 2%;}
.imageSildeBtn2 {position: absolute; top: 150px; left: 2%;}

#contentImageArea2 {display: none;}

#contentArea {display: block; border:1px solid blue;}
#boardDeatilContentArea, #etcArea  {display: inline-block; border:1px solid orange; margin: 10px 0; vertical-align: top;}

#boardDeatilContentArea {width:70%; text-align: left; padding: 15px;}
.contentTitle {font-size: 30px; font-weight: bold;}
.contentSubTitle {font-size: 15px; color: gray;}
.contentETC {font-size: 20px; color:green; margin: 5px 0;}
.reviewWrite_favorite {float:right; font-size: 13px;}
.reviewWrite_favorite img {width:50px; height:50px;}
.reviewWrite_favorite div {display:inline-block;}

hr {margin: 5px;}

table {margin: 25px 0; border-collapse: separate; border-spacing: 0 10px;}
table .menu {min-width:100px; font-weight: bold;}
table .menuDetail {white-space: pre-line;}

#etcArea {width:25%;}

#reviewArea {display: block; border: 1px solid red;}



@MEDIA screen and (max-width:1023px) {
	#board_frame {margin-top: 85px;}
	
	#contentImageArea1 {}
	#contentImageArea1 img {width:180px; height:112.5px;}
	.imageSildeBtn1 {position: absolute; top: 135px; right: 1%;}
	.imageSildeBtn2 {position: absolute; top: 135px; left: 1%;}
	
	#contentImageArea2 {display: none;}
	
	#contentArea {}
	
	#boardDeatilContentArea {width:70%;}
	
	table {margin: 25px 0;}
	
	#etcArea {width:24%;}
}



@MEDIA screen and (max-width:767px) {
	#board_frame {margin-top: 0;}
	
	#contentImageArea1 {display: none;}
	#contentImageArea2 {display: block; text-align: center;}
	#contentImageArea2 img {width: 320px; height: 200px; margin:auto;}
	
	.imageSildeBtn1 {position: absolute; top: 165px; right: 30px;}
	.imageSildeBtn2 {position: absolute; top: 165px; left: 30px;}
	
	#contentArea {}
	
	#boardDeatilContentArea {width:95%;}
	
	table {margin: 10px 0;}
	 
	#etcArea {display: none;}
}

