@charset "UTF-8";

/* 검색창 */
section#search {
	background-color: #efefef;
	padding-bottom: 30px;
}

section#search .search_bar_text {
	color: #484848;
	font-size: 1.5rem;
	/* 	border: 1px solid red; */
	font-weight: bold;
	width: 90%;
	margin: 12px 5% 15px 5%;
}

section#search .search_bar {
	border: 1px solid #efefef;
}

section#search .search_input_wrap {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	width: 90%;
	height: 55px;
	margin: 10px 5%;
	position: relative;
	overflow: hidden;
}

section#search .search_input_logo {
	height: 25px;
	padding: 15px;
	border-radius: 5px;
}

section#search .search_input {
	width: 70%;
	height: 30px;
	display: inline;
	background-color: #fff;
	border: none;
	position: absolute;
	top: 13px;
	left: 150px;
}

section#search .search_btn_icon {
	width: 100px;
	height: 100px;
	border: none;
	background-color: #ff5a5f;
	display: none;
}

section#search .search_btn_text {
	width: 90%;
	height: 55px;
	border: none;
	border-radius: 5px;
	background-color: #ff5a5f;
	display: block;
	margin: 0 5%;
	color: #fff;
	font-weight: bold;
	font-size: 1.15em;
	cursor: pointer;
}

/*랭킹*/
#rank {
	display: none;
	border-bottom: 1px solid #ccc;
	min-height: 180px;
	margin-top: 30px;
}

#rank .title {
	color: #e47679;
	font-size: 1.4rem;
	font-weight: bold;
	width: 90%;
	margin: 12px 5% 25px 5%;
}

#rank .container_rank {
	/* 	border: 1px solid red; */
	height: 200px;
}

#rank .rank1 {
	/* 	border: 1px solid red; */
	position: relative;
	height: 180px;
}

.rank1_img {
	height: 160px;
	width: 160px;
	/* 	border: 1px solid red; */
	position: absolute;
	left: 20px;
}

#rank .rank1_sub {
	/* 	border: 1px solid red; */
	display: inline-block;
	position: absolute;
	left: 200px;
	top: 10px;
}

.crown {
	height: 28px;
	/* 	border: 1px solid red; */
	margin-right: 10px;
}

#rank .rank1_title {
	font-size: 1.3rem;
	font-weight: 600;
	/* 		border: 1px solid red; */
	display: inline-block;
	vertical-align: top;
	width: 230px;
}

#rank .rank1_desc {
	height: 120px;
	/* 		border: 1px solid; */
	width: 280px;
	position: absolute;
	top: 50px;
	left: 200px;
	line-height: 25px;
}

#rank .rankOthers {
	display: none;
	position: relative;
	border-top: 1px solid #484848;
	height: 80px;
	margin-bottom: 25px;
	position: relative;
}

#rank .ranks_img {
	/* 	border: 1px solid red;  */
	position: absolute;
	left: 20px;
	height: 80px;
	width: 80px;
}

#rank .ranks_title {
	display: inline-block;
	/* 		border: 1px solid red;  */
	position: absolute;
	left: 110px;
	top: 10px;
	height: 80px;
	font-size: 1.3rem;
	font-weight: 600;
}

#rank .ranks_desc {
	position: absolute;
	top: 50px;
	left: 110px;
	width: 65%;
	/* 		border: 1px solid red; */
}

#rank .down_scroll {
	position: absolute;
	right: 50px;
	bottom: 20px;
	width: 20px;
	height: 20px;
}

/*카테고리 */
#category {
	display: none;
	border-bottom: 1px solid #ccc;
	min-height: 400px;
	margin-bottom: 30px;
	margin-top: 20px;
}

#category .title {
	color: #e47679;
	font-size: 1.4rem;
	font-weight: bold;
	width: 90%;
	margin: 25px 5% 12px 5%;
}

#category .container_category {
	text-align: center;
}

#category .category {
	display: inline-block;
	height: 155px;
	width: 110px;
	margin: 20px 15px;
	/* 	border: 1px solid red; */
}

#category .category>img {
	box-sizing: border-box;
	/* 		border: 1px solid red; */
	height: 110px;
	width: 110px;
	border-radius: 55px;
}

.describe {
	width: 120px;
	height: 30px;
	color: #484848;
	font-weight: 800;
	font-size: 1.1em;
	/* 		border: 1px solid red; */
	text-align: center;
}
/*지역별 검색*/
#region {
	/* 	border-bottom: 1px solid #ccc; */
	height: 460px;
	margin-bottom: 30px;
	margin-top: 15px;
}

#region .title {
	color: #e47679;
	font-size: 1.4rem;
	font-weight: bold;
	width: 90%;
	margin: 12px 5% 30px 5%;
}

#region .container_region {
	text-align: center;
}

#region .img_for_region {
	height: 330px;
	width: 80%;
}

.search_category {height:30px; top:-22px; left: -4px; position: relative;}

@MEDIA all and (min-width:768px) {
	/* 검색창*/
	section#search {
		height: 650px;
		width: 100%;
		background-image: url("../img/search_main_img.jpg") !important;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		top: 80px;
	}
	section#search .search_bar_text {
		color: #fff;
		font-size: 2.7rem;
		/* 	border: 1px solid red; */
		/* 		font-weight: bold; */
		width: 90%;
		margin: 20px 5% 30px 5%;
	}
	section#search .search_bar {
		position: absolute;
		top: 140px;
		width: 100%;
		display: block;
		border: none;
		display: block;
	}
	section#search .search_input_wrap {
		background-color: #fff;
		width: 78%;
		height: 75px;
		margin: 10px 10px 10px 5%;
		position: relative;
		display: inline-block;
		/* 	border: 1px solid red; */
		top: 4px;
	}
	section#search .search_input_logo {
		height: 25px;
		padding: 15px;
		border-radius: 5px;
		/* 	border: 1px solid red; */
		position: relative;
		top: 10px;
		left: 10px;
	}
	section#search .search_input {
		width: 70%;
		height: 35px;
		display: inline;
		background-color: #fff;
		/* 	border: 1px solid red; */
		position: absolute;
		top: 22px;
		left: 170px;
		font-size: 25px;
	}
	section#search .search_btn_icon {
		height: 77px;
		width: 80px;
		display: inline-block;
		border-radius: 5px;
		/* 	border: 1px solid; */
		position: relative;
		top: -30px;
	}
	section#search .search_btn_text {
		display: none;
	}
	/**/
	#rank {
		position: relative;
		top: 80px;
		display: block;
	}
	#category {
		position: relative;
		top: 80px;
		display: block;
	}
	#region .img_for_region {
		height: 380px;
	}
	#region {
		position: relative;
		top: 80px;
	}
	footer {
		position: relative;
		top: 80px;
	}
	.search_category {height:35px; top:-11px; left:7px;}
}

@MEDIA screen and (min-width:1024px) {
	/*검색창*/
	section#search .search_bar {
		margin: 0 8% 0 12%;
		width: 80%;
	}
	section#search .search_bar_text {
		font-size: 2.7rem;
		margin: 20px 5% 20px 5%;
	}

	/*랭킹*/
	#rank {
		padding-left: 3%;
		vertical-align: top;
		border: none;
		width: 49%;
		box-sizing: border-box;
		display: inline-block;
		clear: both;
	}
	#rank .container_rank {
		border: none;
		height: 1180px;
	}
	#rank .rankOthers {
		display: block;
	}
	#rank .down_scroll {
		display: none;
	}
	#category {
		border: none;
		padding-right: 3%;
		padding-left: 3%;
		width: 49%;
		box-sizing: border-box;
		display: inline-block;
	}
	#region {
		padding-left: 3%;
		padding-right: 3%;
		vertical-align: top;
		margin-left: 50%;
		position: relative;
		top: -420px;
		display: inline-block;
		/* 		border: 1px solid red; */
		width: 49%;
		box-sizing: border-box;
	}
	#region .img_for_region {
		height: 400px;
	}
	footer {
		position: relative;
		bottom: 30px;
	}
	.search_category {height:35px; top:-11px; left:15px;}
}