@charset "UTF-8";

/*모바일 퍼스트*/
#myPage {
	/* 	border: 1px solid red; */
	box-sizing: border-box;
	margin: 0 auto 0px auto;
	width: 100%;
	height: 750px;
	position: relative;
}

.myInfo {
	width: 86%;
	margin: 20px 7% 0 7%;
	height: 180px;
	border-bottom: 1px solid #ccc;
}

.myInfo .myInfo_name {
	color: #484848;
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 5px;
}

.myInfo .myInfo_email {
	color: #b4b4b4;
	margin-bottom: 5px;
}

.myInfo .myInfo_birth {
	color: #b4b4b4;
}

#myPage .myPage_list {
	/* 	border: 1px solid red; */
	list-style: none;
}

#myPage .myPage_list li {
	border-bottom: 1px solid #ccc;
	width: 86%;
	height: 90px;
	position: relative;
	margin: 0 7%;
}

#myPage .myPage_list li div {
	display: inline-block;
	/* 	border: 1px solid blue; */
	font-size: 1.2rem;
	color: #484848;
	font-weight: 600;
	line-height: 90px;
	height: 90px;
}

#myPage .myPage_list li img {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: top;
	position: absolute;
	top: 30px;
	right: 0px;
	/* 	border: 1px solid blue; */
}

#myPage .detail_ordinary_info {
	display: none;
}

#myPage .detail_business_info {
	display: none;
}

@MEDIA screen and (min-width:768px) {
	#myPage {
		width: 92%;
		margin: 0 6% 0 2%;
/* 		border: 1px solid red; */
		min-height: 700px;
		margin-bottom: 0px;
	}
	#myPage .myInfo {
		display: none;
	}
	#myPage .myPage_list {
		position: absolute;
		top: 120px;
		left: 0;
/* 		border: 1px solid red; */
		width: 20%;
	}
	.list_imgs {
		visibility: hidden;
	}
	#myPage .myPage_list li {
		height: 80px;
	}
	#myPage .myPage_list li div {
		font-size: 1.1rem;
		line-height: 80px;
		height: 80px;
	}
	#myPage .myPage_list li:HOVER {
		border-bottom: 2.5px solid #ff5a5f;
	}
	#myPage .myPage_list li:HOVER>div {
		font-size: 1.25rem;
	}
	#myPage .detail_ordinary_info {
		display: block;
		position: absolute;
		top: 140px;
		right: 0;
		overflow: hidden;
		width: 75%;
/* 		border: 1px solid red; */
/* 		margin-bottom: 100px; */
/* 		padding-bottom: 60px; */
	}
	#myPage .detail_business_info {
		display: block;
		position: absolute;
		top: 640px;
		right: 0;
		width: 75%;
/* 		border: 1px solid red; */
		margin-bottom: 40px;
		padding: 0;
		overflow: hidden;
	}
	#myPage .myPage_table_top {
		width: 100%;
		background-color: #ff5a5f;
		color: #fff;
		font-size: 1.4rem;
		font-weight: 600;
	}
	.mypage_title {
		width: 100%;
		padding: 10px 20px;
		box-sizing: border-box;
		height: 70px;
/* 		border: 1px solid blue; */
		border-radius: 15px 0 0 0 ;
	}
	.mypage_title div {
		width: 700px;
	}
	.info_left {
		border-bottom: 2px dotted #ccc;
		padding: 20px 10px 15px 10px;
		width: 160px;
	}
	.info_left div {
		color: #b4b4b4;
		font-weight: 500;
		width: 140px;
		/* 		border: 1px solid red; */
		font-size: 1.15rem;
		padding-left: 10px;
	}
	.info_right {
		color: #484848;
		font-weight: 500;
		border-bottom: 2px dotted #ccc;
		padding: 20px 10px 15px 10px;
	}
	.info_right div {
		color: #484848;
		font-weight: 500;
		width: 400px;
		/* 		border: 1px solid blue; */
		font-size: 1.15rem;
		padding-left: 20px;
	}
	footer {
		margin-top: 270px;
	}
}

@MEDIA screen and (min-width:1024px) {
	#myPage {
		/* 		border: 1px solid red; */
		margin: 0px 7% 0 7%;
		width: 86%;
		min-height: 600px;
	}
	.mypage_title {
		padding: 10px 30px;
		font-size: 1.5rem;
	}
	#myPage .myPage_list {
		width: 18%;
	}
	#myPage .detail_ordinary_info {
		top: 140px;
	}
	.list_imgs {
		visibility: visible;
	}
	.info_left {
		border-bottom: 2px dotted #ccc;
		padding: 20px 10px 15px 10px;
		width: 160px;
	}
	.info_left div {
		color: #b4b4b4;
		font-weight: 500;
		width: 140px;
		/* 		border: 1px solid red; */
		font-size: 1.15rem;
		padding-left: 10px;
	}
	.info_right {
		color: #484848;
/* 		width: 500px; */
		font-weight: 500;
		border-bottom: 2px dotted #ccc;
		padding: 20px 10px 15px 10px;
	}
	.info_right div {
		color: #484848;
		font-weight: 500;
		width: 500px;
		/* 		border: 1px solid blue; */
		font-size: 1.15rem;
		padding-left: 20px;
	}
	footer {
		margin-top: 270px;
	}
}